ignore
Intro-RAG-Data-Overflow/.qodo
.qodo*
01-Intro-to-NLP-and-LLMs/NLP_preprocessing1.ipynb
Z/
GODS-Semantic-anomaly-detection-with-vector-search/slides/
ASIA-leafwise-ML-Bootcamp/slides/
Vectors-in-Orbit-Event/Talk/Beyond-the-Database-Scaling-Vector-Search-with-Qdrant-talk.pdf
Vectors-in-Orbit-Event/Workshop/Workshop-Qdrant Ecosystem from Local to Cloud.pdf